<header id='particles-js'>
  {{#if planet}}
    <h1>
      {{#if name}}
        Welcome to {{planet}}
        <span class='username'>
          {{name}}
        </span>
      {{else}}
        Welcome to {{planet}}!
      {{/if}}
    </h1>
  {{else}}

  {{/if}}
</header>